body{
	background: linear-gradient(to right, #ffdde1, #ee9ca7, #a7bfe8, #6190e8);
	background-size: 400% 400%;
	background-position: 50% 50%;
	font-family: 'Comfortaa', cursive;
    color: rgb(69,69,69);
}

.card{
	width: 21%;
	margin-left: 9.2%;
	display: inline-block;
	/* float:left; */
	text-align: center;
	background-color:rgb(252, 251, 244);
	border: none;
    border-radius: 8px;
}
.card:hover {
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.48);
	box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.48);
}
img{
	padding: 35px;
	/* border:2px solid pink; */
}

.button{
    color: rgb(69,69,69);
	text-decoration: none;
}
.button:hover,.button:focus{
    
    color: rgb(69,69,69);
	text-decoration: none;
}

.cont{
    max-width: 80%;
    margin: 0 auto;
	margin-top: 5%;
    /* height: 100px; */
    
}


 /* Navbar CSS  */
 .navbar {
	font-size: 15px;
	-webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.48);
	box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.48);
	background-color:rgb(252, 251, 244) !important;
 }
.navbar-brand {
	font-weight : 700;
}
.nav-item {
	padding-left: 20px !important;
}